*{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
}
table{
    height: 100px;
    background-color: white;
    width: 30rem;
    height: 5px;
    overflow: scroll;
    text-align: center;
    border-collapse:collapse ;
    border-radius: 0.5rem;
    margin-left: 50%;
    transform: translatex(-50%);
}
td{
    padding: 8px 5px;
}
tr:nth-child(even){
    background-color: lightgrey;
}
thead {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: black;
    color: white;
    padding: 8px 5px;
}
h3{
    color: rgb(204, 201, 201);
    margin-left: 53%;
    transform: translateX(-50%);
}
